extends ../layout

block content
    h5
        a(href='/bicicletas') ← Volver
    br


    h1 Visualizar Bicicleta
    br

    h4=`ID: ${bici.id}`
    br
    h4=`Color: ${bici.color}`
    br
    h4=`Modelo: ${bici.modelo}`
    br
    h4=`Latitud: ${bici.ubicacion[0]}`
    br
    h4=`Longitud: ${bici.ubicacion[1]}`